In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("failure.csv")

In [3]:
df.sample(10)

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
56583,2015-03-18,Z1F0LLED,0,243038560,0,0,0,7,307477,0,0,1
72993,2015-04-21,W1F0WKE1,0,2270320,0,0,0,10,324493,0,0,0
24552,2015-01-31,S1F116J4,0,183629136,0,0,0,18,337645,0,0,0
113113,2015-08-14,W1F0W3GE,0,162637384,0,0,0,8,289737,0,0,0
7142,2015-01-07,S1F10PED,0,118083432,0,0,0,5,192979,0,0,0
97699,2015-06-29,W1F14GTK,0,162707512,0,21,0,23,351497,0,0,33
109379,2015-08-03,S1F0E9EP,0,187103664,0,0,0,9,291421,0,0,0
7686,2015-01-08,S1F0FGBQ,0,178484016,0,0,0,9,178640,0,0,0
89706,2015-06-06,W1F1D99S,0,94745360,0,0,0,9,215769,0,0,0
111278,2015-08-08,Z1F0L6BY,0,229845824,0,0,0,60,250927,0,0,0

In [4]:
df.shape

(124494, 12)

In [5]:
df.failure.value_counts()

0    124388
1       106
Name: failure, dtype: int64

In [6]:
df.isnull().sum()

date          0
device        0
failure       0
attribute1    0
attribute2    0
attribute3    0
attribute4    0
attribute5    0
attribute6    0
attribute7    0
attribute8    0
attribute9    0
dtype: int64

In [7]:
del df["date"]

In [8]:
del df["device"]

In [9]:
df.head()

,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
0,0,215630672,56,0,52,6,407438,0,0,7
1,0,61370680,0,3,0,6,403174,0,0,0
2,0,173295968,0,0,0,12,237394,0,0,0
3,0,79694024,0,0,0,6,410186,0,0,0
4,0,135970480,0,0,0,15,313173,0,0,3

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124494 entries, 0 to 124493
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   failure     124494 non-null  int64
 1   attribute1  124494 non-null  int64
 2   attribute2  124494 non-null  int64
 3   attribute3  124494 non-null  int64
 4   attribute4  124494 non-null  int64
 5   attribute5  124494 non-null  int64
 6   attribute6  124494 non-null  int64
 7   attribute7  124494 non-null  int64
 8   attribute8  124494 non-null  int64
 9   attribute9  124494 non-null  int64
dtypes: int64(10)
memory usage: 9.5 MB

In [11]:
x = df.drop("failure",axis=1)
y = df["failure"]

In [12]:
x.head()

,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
0,215630672,56,0,52,6,407438,0,0,7
1,61370680,0,3,0,6,403174,0,0,0
2,173295968,0,0,0,12,237394,0,0,0
3,79694024,0,0,0,6,410186,0,0,0
4,135970480,0,0,0,15,313173,0,0,3

In [13]:
y.sample(15)

35930     0
112849    0
21635     0
82334     0
51097     0
78186     0
109674    0
92293     0
118201    0
77663     0
19916     0
111129    0
77150     0
26623     0
64103     0
Name: failure, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=101)

In [16]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.ensemble import GradientBoostingClassifier
gbc = GradientBoostingClassifier()
from sklearn.ensemble import RandomForestClassifier
r = RandomForestClassifier()
from sklearn.tree import DecisionTreeClassifier
d= DecisionTreeClassifier()
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
from sklearn.neighbors import KNeighborsClassifier
k = KNeighborsClassifier()
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
g = GaussianNB()
b = BernoulliNB()
from xgboost import XGBClassifier
xgbc = XGBClassifier()
from sklearn.svm import SVC
svc = SVC()

In [17]:
algorithms = [g,b,k,log,d,r,gbc,svc]
names = ['GaussianNB', 'BernoulliNB', 'K Nearest', 'Logistic', 'Single Tree', 'Random Forest', 'Gradient Boost',"SVC"]

In [18]:
def algo_test(X,y,algorithms= algorithms,names=names):
        # fit the data
    for i in range(len(algorithms)):
        algorithms[i]=algorithms[i].fit(X,y)
    # print metrics
    accuracy = []
    precision = []
    recall = []
    f1 = []
    for i in range(len(algorithms)):
        accuracy.append(accuracy_score(y,algorithms[i].predict(X)))
        precision.append(precision_score(y,algorithms[i].predict(X)))
        recall.append(recall_score(y,algorithms[i].predict(X)))
        f1.append(f1_score(y,algorithms[i].predict(X)))
    metrics = pd.DataFrame(columns=["accuracy","precision","recall","f1"],index=names)
    metrics["accuracy"]=accuracy
    metrics["precision"]=precision
    metrics["recall"]=recall
    metrics["f1"]=f1
    return metrics.sort_values("f1",ascending=False)

In [19]:
algo_test(x_train,y_train)

                accuracy  precision  recall        f1
Single Tree     0.999989   1.000000  0.9875  0.993711
Random Forest   0.999989   1.000000  0.9875  0.993711
BernoulliNB     0.993135   0.040917  0.3125  0.072359
Gradient Boost  0.999165   0.750000  0.0375  0.071429
GaussianNB      0.997472   0.046512  0.1000  0.063492
K Nearest       0.999143   0.000000  0.0000  0.000000
Logistic        0.999090   0.000000  0.0000  0.000000
SVC             0.999143   0.000000  0.0000  0.000000

In [20]:
tahmin=r.predict(y_test)

ValueError: Expected 2D array, got 1D array instead:
array=[0. 0. 0. ... 0. 0. 0.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
tahmin